@use '../themes/defaultTheme' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;

.search-form {
    width: 90vw;
    max-width: $max-width;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 3rem;
    .form-input {
        width: 100%;
        border: transparent;
        max-width: $fixed-width;
        background: $white;
        padding: 1rem;
        font-size: 1rem;
        border-radius: $radius;
        color: $gray-3;
        letter-spacing: $spacing;
        margin-top: 1rem;
    }
    .error {
        color: $red-dark;
        text-transform: capitalize;
        padding-top: 0.5rem;
        letter-spacing: $spacing;
    }
}