// dark shades of the primary color
$primary-0: hsl(140, 60%, 21%);
$primary-1: hsl(140, 60%, 29%);
$primary-2: hsl(140, 60%, 37%);
$primary-3: hsl(140, 60%, 45%);
$primary-4: hsl(140, 60%, 52%); // THE primary color
$primary-5: hsl(140, 60%, 60%);
$primary-6: hsl(140, 60%, 67%);
$primary-7: hsl(140, 60%, 74%);
$primary-8: hsl(140, 60%, 81%);
$primary-9: hsl(140, 60%, 88%);
// light shades of the primary color

// dark shades of the secondary color
$secondary-0: hsl(270, 80%, 21%);
$secondary-1: hsl(270, 80%, 29%);
$secondary-2: hsl(270, 80%, 37%);
$secondary-3: hsl(270, 80%, 45%);
$secondary-4: hsl(270, 80%, 52%); // THE secondary color
$secondary-5: hsl(270, 80%, 60%);
$secondary-6: hsl(270, 80%, 67%);
$secondary-7: hsl(270, 80%, 74%);
$secondary-8: hsl(270, 80%, 81%);
$secondary-9: hsl(270, 80%, 88%);
// light shades of the secondary color

// dark shades of gray
$gray-0: hsl(210, 40%, 21%);
$gray-1: hsl(210, 40%, 29%);
$gray-2: hsl(210, 20%, 37%);
$gray-3: hsl(210, 20%, 45%);
$gray-4: hsl(210, 20%, 52%); // THE secondary color
$gray-5: hsl(210, 20%, 60%);
$gray-6: hsl(210, 20%, 67%);
$gray-7: hsl(210, 20%, 74%);
$gray-8: hsl(210, 20%, 81%);
$gray-9: hsl(210, 20%, 88%);
// light shades of gray

// miscellaneous colors
$white: #ffffff;
$black: #222222;
$red-dark: hsl(0, 66%, 44%);
$red-light: hsl(0, 66%, 66%);
$green-dark: hsl(125, 66%, 44%);
$green-light: hsl(125   , 66%, 66%);