$transition: all 0.5s linear;
$spacing: .1rem; // spacing between characters
$radius: 0.25rem;
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 5px 15px rgba(0,0,0, 0.3);
$max-width: 920px; // max width of the entire app/site
$fixed-width: 620px; // size of the content on the app/site
